<div style="text-align:center">
  <h1>Welcome to RailsTube</h1> <br>
  <%= image_tag ("c0874c7a-9033-4c24-89a4-847bc115369f_200x200.png") %>

  <%= button_to "Login", "/login", method: :get %> <br>
  <%= button_to "Sign Up", "/users/new", method: :get %>
</div>