<h1><%=@user.username.capitalize%>'s Posts:</h1>


<% @user.posts.each do |p| %>
  <ul>
  <li><%= link_to p.name, p %> </li>
  </ul> 
<% end %>
<strong> Click here to view <%= link_to @user.username.capitalize, "/users/#{@user.id}"%>'s Profile</strong>